body{
    background: rgb(126, 126, 230);
    margin-left: 30px;
    margin-right: 180px;

}

header{
    margin-top: 80px;
}

h1{
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 25px;
}

h2{
    color: white;
}

p{
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
}

.logo{
    width: 100px;
}